<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="pranam"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="pranam.While1"/>
        <listEntry value="pranam.Sample"/>
        <listEntry value="pranam.AutoCompleteText"/>
        <listEntry value="pranam.TimeandDate_FirstRowofFirstCellData"/>
        <listEntry value="pranam.friend"/>
        <listEntry value="pranam.ExplicitWait"/>
        <listEntry value="pranam.ForExample1"/>
        <listEntry value="pranam.FacebookApplication"/>
        <listEntry value="pranam.ForExample2"/>
        <listEntry value="pranam.Capturing_TimeTabaleAllValues"/>
        <listEntry value="pranam.CapturingFirstRowofFirstCellData"/>
        <listEntry value="pranam.RadioButton"/>
        <listEntry value="pranam.Annotations1"/>
        <listEntry value="pranam.Capturing_SecondRowofsecondCellData"/>
        <listEntry value="pranam.screenshot"/>
        <listEntry value="pranam.inner"/>
        <listEntry value="pranam.DoWhile1"/>
        <listEntry value="pranam.AutoCompleteText1"/>
        <listEntry value="pranam.Java"/>
        <listEntry value="pranam.Excel"/>
        <listEntry value="pranam.DrogandDropDownoperation"/>
        <listEntry value="pranam.Orangehrm_data"/>
        <listEntry value="pranam.Datepicker"/>
        <listEntry value="pranam.Dynamicwebtable_extends_applicationLaunch"/>
        <listEntry value="pranam.WebDriverMethods"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
